<html>
	<title>Voice </title>
	<head>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<link href="static/main.css" rel="stylesheet">
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	</head>
	<body>
		<form class="form-horizontal" method="post" action="{{url_for('call')}}">
		<legend> Create Call </legend>
		<div class="control-group">
			<label class="control-label"> Message </label>
			<div class="controls">
				<textarea rows=4 placeholder="Your message here" name="message"></textarea>
			</div>
		</div>

		{% for i in range(5) %}
		<div class="control-group">
			<label class="control-label">Number {{i+1}}</label>
    			<div class="controls">
				<input type="phone" name="number{{i+1}}" placeholder="Phone number">
			</div>
		</div>
		{% endfor %}
		<div class="controls">
			<button type="submit" class="btn">Call</button>
		</div>
		</form>
				
	</div>
	<script>
	/*	$('button').click(function(){
			$.getJSON('/call',{number:$('input#phonenumber').val(),message:$('textarea').val()},function(data){
					alert("Call fired");
				});
		});*/
	</script>
</body>
</html>
